* {
    padding:0;
    margin:0;
}

div .btn-container {
    display: grid;
}

div .digit, .operator, .clear {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;

}

.digit {
    color: #000;
    background:  #DAF7A6;
}

.operator {
    color: #000;
    background: #FF5733 ;
}

.clear {
    color:#fff;
    background: #C70039;
}
